@font-face {
  font-family: 'Grotesk';
  src:url(assets/Grotesk.ttf);
  font-style: normal;
}

/*div contenitore*/

#background {
		position: absolute;
		width:100vw;
		height:200vh;
		top:0;
		left:0;
		margin:0px;
    background: linear-gradient(#90e0ef, #48cae4, #00b4d8, #0096c7, #0077b6, #023e8a, #03045e, #010228);
    z-index: -1;
}

#background2 {
		position: absolute;
		width:100vw;
		height:600vh;
		top:0;
		left:0;
		margin:0px;
    background: linear-gradient(#90e0ef, #48cae4, #00b4d8, #0096c7, #0077b6, #023e8a, #03045e, #010228);
    z-index: -1;
}

/*div navbar*/

#topbar {
		position: fixed;
		width:100vw;
		height:80px;
		top:0;
		left:0;
    margin-bottom: 20px;
    z-index: 1;
    }

.hamburger-menu {
  width: 22px;
  height: 22px;
  position: fixed;
  transform: translate(-50%,-50%);
  top: 40px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.8s;
}

.change .line-1 {
  background-color: white;
  transform: rotateZ(-45deg) translate(-8px, 1.8px);
}

.change .line-3 {
  background-color: white;
  transform: rotateZ(45deg) translate(-8px, -1.8px);
}

.change .line-2 {
  background-color: white;
  opacity: 0;
}

.navbar {
  width: 400px;
  height: 100%;
  background-color: #0096c7;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s;
  z-index: 1;
}

.change {
  right:0;
}

.nav-list {
  width: 200px;
  height: 50%;
  text-align: right;
  transform: translate(50px);
}

.nav-item {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Montserrat';
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 5px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  left:0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.logo {
  font-size: 30px;
  font-family: 'Grotesk';
  color: white;
  text-transform: uppercase;
}

#divedeeplogo {
  position: fixed;
  top: 40px;
  left: 30px;
  transform: translate(0, -50%);
  height: 22px;
  width: 146px;
}

.homepagelink {
  text-decoration: none;
  font-size: 24px;
  font-family: 'Grotesk';
  color: white;
  text-align: left;
  position: relative;
  padding: 5px 0;
}

/*page contents*/

#divetofind {
  position: absolute;
  left: 50%;
  top: 87%;
  height: 20px;
  width: 400px;
  transform: translate(-50%,-50%) translate(-20px, -20px);
  margin: 20px;

  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: white;
  z-index: 1;
}


#scroll-down2 {
  position: absolute;
  left: 50%;
  top: 92%;
  height: 50px;
  width: 20px;
  transform: translate(-50%, -50%) translate(-20px, -20px);
  margin: 20px;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 15px;
  height:30px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
}

.mouse span {
  width: 7px;
  height:7px;
  background-color: white;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 7px;
  height:7px;
  border: 1px solid transparent;
  border-right-color: white;
  border-bottom-color: white;
  transform: rotate(45deg);
  animation: arrow-down .5s alternate infinite;
}

@keyframes move-wheel {
  0%{
    opacity: 0;
    transform: translateY(-5px);
  }
  100%{
    opacity: 1;
    transform: translateY(5px);
  }
}

@keyframes arrow-down {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

/* div 2nd section*/


.button {
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: 'Montserrat';
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  transition: .2s;
  overflow: hidden;
}

.button:hover {
  background: white;
  cursor: pointer;
  color: #03045e;
}

h5 {
  /* sub-pages title */
  position: absolute;
  left: 50vw;
  top: 15vh;
  height: 46px;
  width: 800px;
  transform: translate(-50%,-50%);

  font-family: 'Grotesk';
  font-size: 40px;
  text-align: center;

  color: white;
}



/* div Project section*/

#divcontent1 {
  position: absolute;
  left: 0vw;
  top: 0vh;
  height: 100vh;
  width: 100vw;
}

#casestudyvideo {
  position: relative;
  left: 50%;
  top: 30%;
  height: 26px;
  width: 400px;
  margin: 20px;
  transform: translate(-50%,-50%) translate(-20px, -20px);
}

#trailer-space2 {
    position: absolute;
    width:50%;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding-bottom: 28.125%; /* 16:9 */
}



/* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {
  #trailer-space2 iframe {
   position: absolute;
   top: 65%;
   left: 50%;
   width: 75%;
   height: 75%;
   transform:translate(-50%,-50%);
 }

 .subtitle{
   font-family: 'Grotesk';
   font-size: 28px;
   text-align: center;

   color: white;

 }

}

/* If the screen size is 600px or less */
@media only screen and (max-width: 600px) {
  #trailer-space2 iframe {
   position: absolute;
   top: 65%;
   left: 50%;
   width: 150%;
   height: 150%;
   transform:translate(-50%,-50%);
 }

 .subtitle{
   font-family: 'Grotesk';
   font-size: 20px;
   text-align: center;

   color: white;

 }

}


/* div2 Project section*/

#sdg {
  position: absolute;
  left: 0vw;
  top: 100vh;
  height: 100vh;
  width: 100vw;
}


/* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {
  #sdgtitle {
    position: relative;
    left: 50vw;
    top: 10vh;
    height: 10vh;
    width: 100vw;
    transform: translate(-50%,-50%) translate(-20px, -20px);
    margin: 20px;
}

  #sdggoal{
    /*image*/
    position: relative;
    left: 50vw;
    top:15vh;
    height:10vw;
    width:10vw;
    transform: translate(-50%,-50%);
  }

  #sdgtext {
    position: relative;
    left: 50vw;
    top: 10vh;
    height: 80vh;
    width: 30vw;
    transform: translate(-50%, 0%);

    /* text */

    font-family: 'Montserrat';
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    color: white;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  #sdgtitle {
    position: relative;
    left: 50vw;
    top: 10vh;
    height: 10vh;
    width: 80vw;
    transform: translate(-50%,-50%) translate(-20px, -20px);
    margin: 20px;
    }

  #sdggoal{
    /*image*/
    position: relative;
    left: 50vw;
    top:15vh;
    height:50vw;
    width:50vw;
    transform: translate(-50%,-50%);
  }

  #sdgtext {
    position: relative;
    left: 50vw;
    top: 8vh;
    height: 80vh;
    width: 80vw;
    transform: translate(-50%, 0%);

    /* text */

    font-family: 'Montserrat';
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    color: white;
  }

}

/* div3 Project section*/

#theworld {
  position: absolute;
  left: 0vw;
  top: 200vh;
  height: 100vh;
  width: 100vw;
}


@media only screen and (min-width: 601px) {
  #theworldtitle {
      position: relative;
      left: 50vw;
      top: 5vh;
      height: 10vh;
      width: 100vw;
      transform: translate(-50%,-50%) translate(-20px, -20px);
      margin: 20px;
  }

  #imgworld{
    /*image*/
    position: relative;
    left: 50vw;
    top:15vh;
    height:auto;
    width:70vw;
    transform: translate(-50%,-50%);
  }

  #thedome {
    position: absolute;
    top:60vh;
    left:30vw;
    height: 20px;
    width: 250px;
    margin: 10px;
    transform: translate(-50%, -500%);
  }

  #thegloom {
    position: absolute;
    top:60vh;
    left: 80vw;
    height: 20px;
    width: 250px;
    margin: 10px;
    transform: translate(-50%,-500%);
  }

  #timeline {
    /*image*/
    position: relative;
    left: 50vw;
    top:15vh;
    width: 80vw;
    height: auto;
    transform: translate(-50%,0%);
  }

/*thedome page */

  #thedomepage{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    }

    #thedometitle {
      position: relative;
      left: 50vw;
      top: 20vh;
      height: 10vh;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgdome{
      /*image*/
      position: relative;
      left: 50vw;
      top:15vh;
      height:auto;
      width:30vw;
      transform: translate(-50%);
    }

    #thedometext {
      position: relative;
      left: 50vw;
      top: 20vh;
      height: 80vh;
      width: 30vw;
      transform: translate(-50%, 0%);

      /* text */

      font-family: 'Montserrat';
      font-size: 18px;
      text-align: left;
      letter-spacing: 1px;
      color: white;
    }

    #back {
      position: absolute;
      top:50vh;
      left:20vw;
      height: 5px;
      width: 50vw;
      transform: translate(0%, 0%);
    }

}

@media only screen and (max-width: 600px) {
  #theworldtitle {
      position: relative;
      left: 50vw;
      top: 10vh;
      height: 10vh;
      width: 100vw;
      transform: translate(-50%,-50%) translate(-20px, -20px);
      margin: 20px;
  }

  #imgworld{
    /*image*/
    position: relative;
    left: 50vw;
    top:5vh;
    height:auto;
    width:80vw;
    transform: translate(-50%,-50%);
  }

  #thedome {
    position: absolute;
    top:50vh;
    left:0%;
    height: 20px;
    width: 250px;
    transform: translate(45%, 0%);
  }

  #thegloom {
    position: absolute;
    top:60vh;
    left: 0%;
    height: 20px;
    width: 250px;
    transform: translate(45%,0%);
  }

  #timeline {
    /*image*/
    position: relative;
    left: 50vw;
    top:60vh;
    width: 80vw;
    height: auto;
    transform: translate(-50%,0%);
  }

  /*thedome page */

    #thedomepage{
      position: absolute;
      top: 0vh;
      left: 0vw;
      width: 100vw;
      height: 100vh;
      }

      #thedometitle {
        position: relative;
        left: 50vw;
        top: 20vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%);
      }

      #imgdome{
        /*image*/
        position: relative;
        left: 50vw;
        top:15vh;
        height:auto;
        width:80vw;
        transform: translate(-50%);
      }

      #thedometext {
        position: relative;
        left: 50vw;
        top: 20vh;
        height: 80vh;
        width: 80vw;
        transform: translate(-50%, 0%);

        /* text */

        font-family: 'Montserrat';
        font-size: 18px;
        text-align: left;
        letter-spacing: 1px;
        color: white;
      }

      #back {
        position: absolute;
        top:10vh;
        left:10vw;
        height: 5px;
        width: 50vw;
        transform: translate(0%, 0%);
      }

}
