@font-face {
  font-family: 'Grotesk';
  src:url(assets/Grotesk.ttf);
  font-style: normal;
}

/*div contenitore*/

#background {
		position: absolute;
		width:100vw;
		height:200vh;
		top:0;
		left:0;
		margin:0px;
    background: linear-gradient(#90e0ef, #48cae4, #00b4d8, #0096c7, #0077b6, #023e8a, #03045e, #010228);
    z-index: -1;
}

@media only screen and (min-width:601px) {
  #background2 {
  		position: absolute;
  		width:100vw;
  		height:750vh;
  		top:0;
  		left:0;
  		margin:0px;
      background: linear-gradient(#90e0ef, #48cae4, #00b4d8, #0096c7, #0077b6, #023e8a, #03045e, #010228);
      z-index: -1;
  }
}

@media only screen and (max-width:600px) {
  #background2 {
  		position: absolute;
  		width:100vw;
  		height:880vh;
  		top:0;
  		left:0;
  		margin:0px;
      background: linear-gradient(#90e0ef, #48cae4, #00b4d8, #0096c7, #0077b6, #023e8a, #03045e, #010228);
      z-index: -1;
  }
}

/*div navbar*/

#topbar {
		position: fixed;
		width:100vw;
		height:80px;
		top:0;
		left:0;
    /* margin-bottom: 0px; */
    z-index: 1;
    }

#topbarblur {
  	position: absolute;
		width:100%;
  	height:100%;
    background-color: rgba(144, 224, 239, 0.2);
    backdrop-filter: blur(8px);
    }

.hamburger-menu {
  width: 22px;
  height: 22px;
  position: fixed;
  transform: translate(-50%,-50%);
  top: 40px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.8s;
}

.change .line-1 {
  background-color: white;
  transform: rotateZ(-45deg) translate(-8px, 1.8px);
}

.change .line-3 {
  background-color: white;
  transform: rotateZ(45deg) translate(-8px, -1.8px);
}

.change .line-2 {
  background-color: white;
  opacity: 0;
}

.navbar {
  width: 400px;
  height: 100%;
  background-color: #0096c7;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s;
  z-index: 1;
}

.change {
  right:0;
}

.nav-list {
  width: 200px;
  height: 50%;
  text-align: right;
  transform: translate(35px);
}

.nav-item {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Montserrat';
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 5px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  left:0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.logo {
  font-size: 30px;
  font-family: 'Grotesk';
  color: white;
  text-transform: uppercase;
}

#divedeeplogo {
  position: fixed;
  top: 40px;
  left: 30px;
  transform: translate(0, -50%);
  height: 22px;
  width: 146px;
}

.homepagelink {
  text-decoration: none;
  font-size: 24px;
  font-family: 'Grotesk';
  color: white;
  text-align: left;
  position: relative;
  padding: 5px 0;
}

#project { /* title */
  position: absolute;
  left: 50vw;
  top: 15vh;
  height: 46px;
  width: 100vw;
  transform: translate(-50%,-50%);

  font-family: 'Grotesk';
  font-size: 40px;
  text-align: center;

  color: white;
}

#instructions {
  position: absolute;
  left: 50vw;
  top: 25vh;
  width: 250px;
  transform: translate(-50%,-50%);
  padding:10px 20px;
  border: 3px solid #010228;
  border-radius: 30px;

  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  font-weight: bolder;

  color: #010228;
  background-color: #ffd60a;

  opacity: 0;
}

@media only screen and (max-width: 600px) {
#instructions {opacity: 1;}
}


/*page contents*/

#divetofind {
  position: absolute;
  left: 50%;
  top: 87%;
  height: 20px;
  width: 100vw;
  transform: translate(-50%,-50%);

  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: white;
  /* z-index: 1; */
}


#scroll-down2 {
  position: absolute;
  left: 50%;
  top: 93%;
  height: 50px;
  width: 20px;
  transform: translate(-50%, -50%) translate(-20px, -20px);
  margin: 20px;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 15px;
  height:30px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
}

.mouse span {
  width: 7px;
  height:7px;
  background-color: white;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 7px;
  height:7px;
  border: 1px solid transparent;
  border-right-color: white;
  border-bottom-color: white;
  transform: rotate(45deg);
  animation: arrow-down .5s alternate infinite;
}

@keyframes move-wheel {
  0%{
    opacity: 0;
    transform: translateY(-5px);
  }
  100%{
    opacity: 1;
    transform: translateY(5px);
  }
}

@keyframes arrow-down {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

/* div 2nd section*/

/*button style*/

.button {
  display: flex;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-size: 14px;
  text-align: center;
  padding: 10px 50px 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  transition: .2s;
  overflow: hidden;
}

.button:hover {
  background: white;
  cursor: pointer;
  color: #03045e;
}

/* div Project section*/

#divcontent1 {
  position: absolute;
  left: 0vw;
  top: 0vh;
  height: 100vh;
  width: 100vw;
}

#casestudyvideo {
  position: absolute;
  left: 50%;
  top: 25%;
  height: 26px;
  width: 400px;
  margin: 20px;
  transform: translate(-50%,-50%) translate(-20px, -20px);
}

#trailer-space {
      position: absolute;
      width:50%;
      transform:translate(-50%,-50%);
      left: 50%;
      top: 55%;
      padding-bottom: 28.125%; /* 16:9 */
}

#trailer-space iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {



 .subtitle{
   font-family: 'Grotesk';
   font-size: 28px;
   text-align: center;

   color: white;

 }

}

/* If the screen size is 600px or less */
@media only screen and (max-width: 600px) {

  #trailer-space {
      width:75%;
      padding-bottom: 42.1875%; /* 16:9 */
  }

 .subtitle{
   width: 80vw;
   font-family: 'Grotesk';
   font-size: 20px;
   text-align: center;
   color: white;
 }

 #casestudyvideo {
   width: 300px;
   top: 35%;
 }

}


/* div2 Project section*/

#sdg {
  position: absolute;
  left: 0vw;
  top: 100vh;
  height: 100vh;
  width: 100vw;
}


/* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {
  #sdgtitle {
    position: relative;
    left: 50vw;
    top: 25vh;
    height: 10vh;
    width: 100vw;
    transform: translate(-50%,-50%);
}

  #sdggoal{
    /*image*/
    position: relative;
    left: 50vw;
    top:30vh;
    height:10vw;
    width:10vw;
    transform: translate(-50%,-50%);
  }

  #sdgtext {
    position: absolute;
    left: 50vw;
    top: 55vh;
    height: 80vh;
    width: 40vw;
    transform: translate(-50%, 0%);

    /* text */

    font-family: 'Montserrat';
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    color: white;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {

  .nav-list {
      height: 65%;
    }

  #sdgtitle {
    position: absolute;
    left: 10vw;
    top: 15vh;
    height: 80px;
    width: 80vw;
    }

  #sdggoal{
    /*image*/
    position: absolute;
    left: 50vw;
    top:27vh;
    height:50vw;
    width:50vw;
    transform: translate(-50%,0%);
  }

  #sdgtext {
    position: absolute;
    left: 10vw;
    top: 58vh;
    height: 80vh;
    width: 80vw;


    /* text */

    font-family: 'Montserrat';
    font-size: 13px;
    text-align: left;
    letter-spacing: 1px;
    color: white;
  }

}

/* div3 Project section*/

#theworld {
  position: absolute;
  left: 0vw;
  top: 200vh;
  height: 100vh;
  width: 100vw;
}


@media only screen and (min-width: 601px) {
  #theworldtitle {
      position: absolute;
      left: 50vw;
      top: 10%;
      height: 10vh;
      width: 100vw;
      transform: translate(-50%,-50%) translate(-20px, -20px);
      margin: 20px;
  }

  #imgworld{
    /*image*/
    position: absolute;
    left: 50vw;
    top:30%;
    height:auto;
    width:70vw;
    transform: translate(-50%,-50%);
  }

  #imgworld1{
    /*image*/
    display: none;
  }

  #imgworld2{
    /*image*/
    display: none;
  }

  #thedome {
    position: absolute;
    top:60%;
    left:30vw;
    height: 20px;
    width: 250px;
    margin: 10px;
    transform: translate(-50%, -500%);
  }

  #thedome .button {
    padding:10px 80px 10px;
  }

  #thegloom {
    position: absolute;
    top:60%;
    left: 70vw;
    height: 20px;
    width: 250px;
    margin: 10px;
    transform: translate(-50%,-500%);
  }

  #thegloom .button {
    padding:10px 75px 10px;
  }

  #timeline {
    /*image*/
    position: absolute;
    left: 50vw;
    top:65%;
    width: 80vw;
    height: auto;
    transform: translate(-50%,0%);
  }

/*thedome page */

  #thedomepage{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    }

    #thedometitle {
      position: relative;
      left: 50vw;
      top: 20vh;
      height: 10vh;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgdome{
      /*image*/
      position: relative;
      left: 50vw;
      top:15vh;
      height:auto;
      width:30vw;
      transform: translate(-50%);
    }

    #thedometext {
      position: relative;
      left: 50vw;
      top: 20vh;
      height: 80vh;
      width: 30vw;
      transform: translate(-50%, 0%);

      /* text */

      font-family: 'Montserrat';
      font-size: 18px;
      text-align: left;
      letter-spacing: 1px;
      color: white;
    }

    #back {
      position: absolute;
      top:15vh;
      left:30px;
      height: 50px;
      width: 100px;
      transform: translate(0%, 0%);
    }

    #back.button{
      padding: 10px 25px 10px;
    }

}

@media only screen and (max-width: 600px) {
  #theworldtitle {
      position: absolute;
      left: 50vw;
      top: 10%;
      height: 10vh;
      width: 100vw;
      transform: translate(-50%,0%);
  }

  #imgworld{
    /*image*/
    display: none;
  }

  #imgworld1{
    /*image*/
    position: absolute;
    left: 50vw;
    top:120px;
    height:auto;
    width:100vw;
    transform: translate(-50%,0%);
  }

  #imgworld2{
    /*image*/
    position: absolute;
    left: 50vw;
    top:400px;
    height:auto;
    width:100vw;
    transform: translate(-50%,0%);
  }


  #thedome {
    position: absolute;
    top:340px;
    left:50%;
    height: 50px;
    width: 200px;
    transform: translate(-50%, 0%);
  }

  #thegloom {
    position: absolute;
    top:620px;
    left: 50%;
    height: 50px;
    width: 200px;
    transform: translate(-50%,0%);
  }

  #timeline {
    /*image*/
    position: absolute;
    left: 50vw;
    top:690px;
    width: 90vw;
    height: auto;
    transform: translate(-50%,0%);
  }

  /*thedome page */

    #thedomepage{
      position: absolute;
      top: 0vh;
      left: 0vw;
      width: 100vw;
      height: 100vh;
      }

      #thedometitle {
        position: relative;
        left: 50vw;
        top: 20vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%);
      }

      #imgdome{
        /*image*/
        position: relative;
        left: 50vw;
        top:15vh;
        height:auto;
        width:80vw;
        transform: translate(-50%);
      }

      #thedometext {
        position: relative;
        left: 50vw;
        top: 20vh;
        height: 80vh;
        width: 80vw;
        transform: translate(-50%, 0%);

        /* text */

        font-family: 'Montserrat';
        font-size: 16px;
        text-align: left;
        letter-spacing: 1px;
        color: white;
      }
      .b1{
          padding: 10px 20px 10px;
      }

}

/* div4 Project section*/

#thecharacters {
  position: absolute;
  left: 0vw;
  top: 300vh;
  height: auto;
  width: 100vw;
}

@media only screen and (min-width: 601px) {
  #thecharacterstitle {
    position: relative;
    left: 50vw;
    top: 10vh;
    height: 5vh;
    width: 100vw;
    transform: translate(-50%,0%);
}

#thecharacterstext {
  position: relative;
  left: 50vw;
  top: 10vh;
  height: 5vh;
  width: 100vw;
  transform: translate(-50%,0%);

  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 1px;

  color: white;
  z-index: 1;
}

  #imgkaran{
    /*image*/
    position: relative;
    left: 12vw;
    top:40vh;
    height:auto;
    width:15vw;
    transform: translate(-50%,-50%);
  }

  #imgatlas{
    /*image*/
    position: relative;
    left: 20vw;
    top:40vh;
    height:auto;
    width:15vw;
    transform: translate(-50%,-50%);
  }

  #imgdana{
    /*image*/
    position: relative;
    left: 30vw;
    top:40vh;
    height:auto;
    width:15vw;
    transform: translate(-50%,-50%);
  }

  #imgio{
    /*image*/
    position: relative;
    left: 35vw;
    top:40vh;
    height:auto;
    width:15vw;
    transform: translate(-50%,-50%);
  }

.b1{
    padding: 10px 20px 10px;
}

  #ch-button1{
    position: absolute;
    left:10vw;
    top: 75vh;
    width:100px;
    /* transform: translate(-50%,-50%); */
  }

  #ch-button1 .button {
    padding:10px 22px 10px;
  }


  #ch-button2{
    position: absolute;
    left:33vw;
    top: 75vh;
    width:100px;
    /* transform: translate(-50%,-50%); */
  }

  #ch-button2 .button {
    padding:10px 25px 10px;
  }

  #ch-button3{
    position: absolute;
    left:58vw;
    top: 75vh;
    width:100px;
    /* transform: translate(-50%,-50%); */
  }

  #ch-button3 .button {
    padding:10px 27px 10px;
  }

  #ch-button4{
    position: absolute;
    left:80vw;
    top: 75vh;
    width:100px;
    /* transform: translate(-50%,-50%); */
  }

  #ch-button4 .button {
    padding:10px 42px 10px;
  }

  /*karan page */

    #karanpage{
      position: absolute;
      top: 0vh;
      left: 0vw;
      width: 100vw;
      height: 100vh;
      }

      #karantitle {
        position: relative;
        left: 50vw;
        top: 20vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%);
      }

      #imgkaran2{
        /*image*/
        position: relative;
        left: 50vw;
        top:15vh;
        height:60vh;
        width:auto;
        transform: translate(-50%);
      }

      #karantext {
        position: relative;
        left: 50vw;
        top: 10vh;
        height: 80vh;
        width: 30vw;
        transform: translate(-50%, 0%);

        /* text */

        font-family: 'Montserrat';
        font-size: 18px;
        text-align: left;
        letter-spacing: 1px;
        color: white;
      }



}

@media only screen and (max-width: 600px) {

  #thecharacters {
    position: absolute;
    left: 0vw;
    top: 310vh;
    height: auto;
    width: 100vw;
  }

  #thecharacterstitle {
    position: relative;
    left: 50vw;
    top: 10vh;
    height: 5vh;
    width: 100vw;
    transform: translate(-50%,-50%);
}

#thecharacterstext {
    position: absolute;
    left: 10vw;
    top: 12vh;
    height: 10vh;
    width: 80vw;
    transform: translate(0%,0%);
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    /* text-transform: uppercase; */
    letter-spacing: 1px;

    color: white;
    /* z-index: 1; */
}

  #imgkaran{
    /*image*/
    position: relative;
    left: 50vw;
    top:15vh;
    height:50vh;
    width:70vw;
    transform: translate(-50%,0%);
  }

  #imgatlas{
    /*image*/
    position: relative;
    left: 50vw;
    top:20vh;
    height:50vh;
    width:70vw;
    transform: translate(-50%,0%);
  }

  #imgdana{
    /*image*/
    position: relative;
    left: 50vw;
    top:23vh;
    height:50vh;
    width:70vw;
    transform: translate(-50%,0%);
  }

  #imgio{
    /*image*/
    position: relative;
    left: 50vw;
    top:20vh;
    height:50vh;
    width:70vw;
    transform: translate(-50%,0%);
  }

  #ch-button1{
    /* display: flex; */
    position: absolute;
    left:35vw;
    top: 65vh;
    width:100px;
    height: 50px;
    transform: translate(0%, 0%);
  }

  #ch-button1 .button {
    padding:10px 22px 10px;
  }

  #ch-button2{
    position: absolute;
    left:35vw;
    top: 120vh;
    width:100px;
    height: 50px;
  }

  #ch-button2 .button {
    padding:10px 25px 10px;
  }

  #ch-button3{
    position: absolute;
    left:35vw;
    top: 175vh;
    width:100px;
    height: 10vh;
    /* transform: translate(-50%,-50%); */
  }

  #ch-button3 .button {
    padding:10px 27px 10px;
  }

  #ch-button4{
    position: absolute;
    left:35vw;
    top: 210vh;
    width:100px;
      height: 50px;
    /* transform: translate(-50%,-50%); */
  }

  #ch-button4 .button {
    padding:10px 42px 10px;
  }


  /*karan page */

    #karanpage{
      position: absolute;
      top: 0vh;
      left: 0vw;
      width: 100vw;
      height: 100vh;
      }

      #karantitle {
        position: relative;
        left: 50vw;
        top: 20vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%);
      }

      #imgkaran2{
        /*image*/
        position: relative;
        left: 50vw;
        top:15vh;
        height:60vh;
        width:auto;
        transform: translate(-50%);
      }

      #karantext {
        position: relative;
        left: 50vw;
        top: 10vh;
        height: 80vh;
        width: 80vw;
        transform: translate(-50%, 0%);

        /* text */

        font-family: 'Montserrat';
        font-size: 18px;
        text-align: left;
        letter-spacing: 1px;
        color: white;
      }

      #back {
        position: absolute;
        top:12vh;
        left:5vw;
        height: 10px;
        width: 100px;
      }
  }




  @media only screen and (min-width: 601px) {

    #map {
      position: absolute;
      left: 0vw;
      top: 400vh;
      height: 100vh;
      width: 100vw;
    }

    #maptitle {
        position: relative;
        left: 50vw;
        top: 5vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
    }
    #maptext {
        position: relative;
        left: 50vw;
        top: 0vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
        font-family: 'Montserrat';
        font-size: 16px;
        text-align: center;
        /* text-transform: uppercase; */
        letter-spacing: 1px;

        color: white;
        z-index: 1;
    }


    #imgmap{
      /*image*/
      position: absolute;
      left: 50vw;
      top:35vh;
      height:auto;
      width:70vw;
      transform: translate(-50%,0%);
    }

    #imgmap2{
      /*image*/
      position: absolute;
      left: 50vw;
      top:35vh;
      height:auto;
      width:70vw;
      transform: translate(-50%,0%);
      opacity: 0;
    }

    #imgmap2:hover{
      /*image*/
      opacity: 0.8;
    }

    #keymap{
      /*image*/
      position: absolute;
      left: 50vw;
      top:20vh;
      height:auto;
      width:70vw;
      transform: translate(-50%,0%);
    }

    #keymap1{
      display: none;
    }

    #keymap2{
      display: none;
    }

  }

  #experience {
    position: absolute;
    left: 0vw;
    top: 550vh;
    height: 200vh;
    width: 100vw;
  }

  @media only screen and (max-width: 600px) {

    #map {
      position: absolute;
      left: 0vw;
      top: 540vh;
      height: 100vh;
      width: 100vw;
    }

    #maptitle {
        position: relative;
        left: 50vw;
        top: 5vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%);
    }
    #maptext {
        position: absolute;
        left: 10vw;
        top: 10vh;
        height: 10vh;
        width: 80vw;
        font-family: 'Montserrat';
        font-size: 16px;
        text-align: center;
        /* text-transform: uppercase; */
        letter-spacing: 1px;

        color: white;
        /* z-index: 1; */
    }


    #imgmap{
      /*image*/
      position: absolute;
      left: 50vw;
      top:50vh;
      height:auto;
      width:80vw;
      transform: translate(-50%,0%);
    }

    #imgmap2{
      /*image*/
      position: absolute;
      left: 50vw;
      top:50vh;
      height:auto;
      width:80vw;
      transform: translate(-50%,0%);
      opacity: 0;
    }

    #imgmap2:hover{
      /*image*/
      opacity: 0.8;
    }

    #keymap{
      display: none;
    }

    #keymap1{
      /*image*/
      position: absolute;
      left: 50vw;
      top:25vh;
      height:auto;
      width:70vw;
      transform: translate(-50%,0%);
    }

    #keymap2{
      /*image*/
      position: absolute;
      left: 50vw;
      top:35vh;
      height:auto;
      width:70vw;
      transform: translate(-50%,0%);
    }


  }




  @media only screen and (min-width: 601px) {

    #experience {
      position: absolute;
      left: 0vw;
      top: 550vh;
      height: 200vh;
      width: 100vw;
    }

    #exptitle {
        position: relative;
        left: 50vw;
        top: 5vh;
        height: 10vh;
        width: 100vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
    }

    #imgstructure{
      /*image*/
      position: relative;
      left: 50vw;
      top:0vh;
      height:auto;
      width:70vw;
      transform: translate(-50%,0%);
    }

  #str1{
    position: relative;
    left: 50vw;
    top: 10vh;
    height: 250px;
    width: 100vw;
    transform: translate(-50%,0%);
  }

    #imgstructure1{
      /*image*/
      position: absolute;
      left:15vw;
      top:45px;
      height:auto;
      width:60px;
    }

    #exptext1 {
        position: absolute;
        left: 50vw;
        top: 5vh;
        height: 20vh;
        width: 50vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
    }

    .structuretext{
      font-family: 'Montserrat';
      font-size: 16px;
      text-align: left;
      /* text-transform: uppercase; */
      letter-spacing: 1px;

      color: white;
      z-index: 1;
    }

    #str2{
      position: relative;
      left: 50vw;
      top: 10vh;
      height: 190px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure2{
      /*image*/
      position: absolute;
      left:15vw;
      top:18px;
      height:auto;
      width:40px;
    }

    #exptext2 {
        position: absolute;
        left: 50vw;
        top: 0vh;
        height: 20vh;
        width: 50vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
    }

    #str3{
      position: relative;
      left: 50vw;
      top: 10vh;
      height: 235px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure3{
      /*image*/
      position: absolute;
      left:15vw;
      top:45px;
      height:auto;
      width:60px;
    }

    #exptext3 {
        position: absolute;
        left: 50vw;
        top: 0vh;
        height: 20vh;
        width: 50vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
    }

    #exptext3 a {
      font-style: none;
      color: white;
    }

    #str4{
      position: relative;
      left: 50vw;
      top: 10vh;
      height: 190px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure4{
      /*image*/
      position: absolute;
      left:15vw;
      top:18px;
      height:auto;
      width:60px;
    }

    #exptext4 {
        position: absolute;
        left: 50vw;
        top: 0vh;
        height: 20vh;
        width: 50vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
    }

    #str5{
      position: relative;
      left: 50vw;
      top: 10vh;
      height: 200px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure5{
      /*image*/
      position: absolute;
      left:15vw;
      top:35px;
      height:auto;
      width:60px;
    }

    #exptext5 {
        position: absolute;
        left: 50vw;
        top: 0vh;
        height: 20vh;
        width: 50vw;
        transform: translate(-50%,0%) translate(-20px, -20px);
        margin: 20px;
    }
  }

  @media only screen and (max-width: 600px) {


    #experience {
      position: absolute;
      left: 0vw;
      top: 630vh;
      height: 250vh;
      width: 100vw;
    }

    #exptitle {
        position: absolute;
        left: 10vw;
        top: 0vh;
        height: 10vh;
        width: 80vw;
        /* transform: translate(-50%,0%); */
    }

    #imgstructure{
      /*image*/
      position: relative;
      left: 50vw;
      top:8vh;
      height:auto;
      width:80vw;
      transform: translate(-50%,0%);
    }

  #str1{
    position: relative;
    left: 50vw;
    top: 10vh;
    height: 280px;
    width: 100vw;
    transform: translate(-50%,0%);
  }

    #imgstructure1{
      /*image*/
      position: absolute;
      left:8vw;
      top:35px;
      height:auto;
      width:35px;
    }

    #exptext1 {
        position: absolute;
        left: 20vw;
        top: 5vh;
        height: 40vh;
        width: 65vw;
        padding-left:20px;

    }

    .structuretext{
      font-family: 'Montserrat';
      font-size: 13px;
      text-align: left;
      /* text-transform: uppercase; */
      letter-spacing: 1px;

      color: white;
      z-index: 1;
    }

    #str2{
      position: relative;
      left: 50vw;
      top: 10vh;
      height: 200px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure2{
      /*image*/
      position: absolute;
      left:8vw;
      top:5px;
      height:auto;
      width:35px;
    }

    #exptext2 {
        position: absolute;
        left: 20vw;
        top: 0vh;
        height: 40vh;
        width: 65vw;
        padding-left:20px;

    }

    #str3{
      position: relative;
      left: 50vw;
      top: 10vh;
      height:280px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure3{
      /*image*/
      position: absolute;
      left:9vw;
      top:5px;
      height:auto;
      width:35px;
    }

    #exptext3 {
        position: absolute;
        left: 20vw;
        top: 0vh;
        height: 45vh;
        width: 65vw;
        padding-left:20px;

    }

    #exptext3 a {
      font-style: none;
      color: white;
    }

    #str4{
      position: relative;
      left: 50vw;
      top: 10vh;
      height: 280px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure4{
      /*image*/
      position: absolute;
      left:8vw;
      top:5px;
      height:auto;
      width:35px;
    }

    #exptext4 {
        position: absolute;
        left: 20vw;
        top: 0vh;
        height: auto;
        width: 65vw;
        padding-left:20px;

    }

    #str5{
      position: relative;
      left: 50vw;
      top: 5vh;
      height: 200px;
      width: 100vw;
      transform: translate(-50%,0%);
    }

    #imgstructure5{
      /*image*/
      position: absolute;
      left:8vw;
      top:5px;
      height:auto;
      width:35px;
    }

    #exptext5 {
        position: absolute;
        left: 20vw;
        top: 0vh;
        height: auto;
        width: 65vw;
        padding-left:20px;

    }
  }

  /* div footer*/

  #footer-name {
  		position: absolute;
  		width:33vw;
  		height:75px;
  		top: 750vh;
  		left:0;
      transform: translate(0, -75px);
      }

  .name-list {
      text-align: left;
      }

  .name-item {
      list-style: none;
      font-size: 12px;
      font-family: 'Montserrat';
      font-weight: lighter;
      color: white;
      letter-spacing: 1px;
      }

  #footer-teacher {
    		position: absolute;
    		width:33vw;
    		height:75px;
    		top: 750vh;
    		left:33vw;
        transform: translate(0, -75px);
        }

  .teacher-list {
          text-align: center;
          }

  .teacher-item {
          list-style: none;
          font-size: 12px;
          font-family: 'Montserrat';
          font-weight: lighter;
          color: white;
          letter-spacing: 1px;
          }

  #footer-school {
        	position: absolute;
      		width:33vw;
      		height:75px;
      		top: 750vh;
      		left:66vw;
          transform: translate(-30px, -75px);
        }

  .school-list {
          text-align: right;
        }

  .school-item {
          list-style: none;
          font-size: 12px;
          font-family: 'Montserrat';
          font-weight: lighter;
          color: white;
          letter-spacing: 1px;
        }



@media only screen and (max-width: 601px) {
  /* div footer*/

  #footer-name {
      position: absolute;
      top: 880vh;
      width:100vw;
  		height:30px;
      transform: translate(0,-140px);
      }

  .name-item {
      font-size: 9px;
      }

  #footer-teacher {
      position: absolute;
      top: 880vh;
        width:100vw;
        height:30px;
    		left: 0;
        transform: translate(0,-105px);
        }

  .teacher-list {
        text-align: left;
        }

  .teacher-item {
          font-size: 9px;
          }

  #footer-school {
        	position: absolute;
          top: 880vh;
          height:30px;
      		width:100vw;
      		left: 0;
          transform: translate(0, -70px);
        }

  .school-list {
          text-align: left;
        }

  .school-item {
          font-size: 9px;
        }

}
