@font-face {
  font-family: 'Grotesk';
  src:url(assets/Grotesk.ttf);
  font-style: normal;
}

/*div contenitore spin offs*/

#background {
		position: absolute;
		width:100vw;
		height:100vh;
		top:0;
		left:0;
		margin:0px;
    background: linear-gradient(#90e0ef, #48cae4, #00b4d8, #0096c7, #0077b6, #023e8a, #03045e, #010228);
    z-index: -1;
}

/*div topbar*/

#topbar {
		position: fixed;
		width:100vw;
		height:80px;
		top:0;
		left:0;
    margin-bottom: 20px;
    z-index: 1;
    }

#topbarblur {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(144, 224, 239, 0.05);
    backdrop-filter: blur(8px);
    }

.hamburger-menu {
  width: 22px;
  height: 22px;
  position: fixed;
  transform: translate(-50%,-50%);
  top: 40px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.8s;
}

.change .line-1 {
  background-color: white;
  transform: rotateZ(-45deg) translate(-8px, 1.8px);
}

.change .line-3 {
  background-color: white;
  transform: rotateZ(45deg) translate(-8px, -1.8px);
}

.change .line-2 {
  background-color: white;
  opacity: 0;
}

.navbar {
  width: 400px;
  height: 100%;
  background-color: #0096c7;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s;
  z-index: 2;
}

.change {
  right:0;
}

.nav-list {
  width: 200px;
  height: 50%;
  text-align: right;
  transform: translate(35px);
}

.nav-item {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Montserrat';
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 5px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  left:0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.logo {
  font-size: 30px;
  font-family: 'Grotesk';
  color: white;
  text-transform: uppercase;
}

#divedeeplogo {
  text-decoration: none;
  position: fixed;
  top: 40px;
  left: 30px;
  transform: translate(0, -50%);
  height: 22px;
  width: 146px;

  font-family: 'Grotesk';
  font-size: 24px;
  text-align: left;

  color: white;
}

.homepagelink {
  text-decoration: none;
  font-size: 24px;
  font-family: 'Grotesk';
  color: white;
  text-align: left;
  position: relative;
  padding: 5px 0;
}

/* page contents */

#creditssection {
  position: absolute;
  left: 50vw;
  top: 15vh;
  height: 46px;
  width: 100vw;
  transform: translate(-50%,-50%);

  font-family: 'Grotesk';
  font-size: 40px;
  text-align: center;

  color: white;
}

#eli{
  position: absolute;
  height: 50vh;
  width: 20vw;
  left: 4vw;
  top: 25vh;
}

#cami {
  position: absolute;
  height: 50vh;
  width: 20vw;
  left: 28vw;
  top: 25vh;
}

#bea {
  position: absolute;
  height: 50vh;
  width: 20vw;
  left: 52vw;
  top: 25vh;
}

#ludo{
  position: absolute;
  height: 50vh;
  width: 20vw;
  left: 76vw;
  top: 25vh;
}

.creditsname {
  font-family: 'Montserrat';
  width:100%;
  font-size: 18px;
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-50%,-50%);
}

.imageposition {
  width:100%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.imageposition img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.creditsdescription {
  font-family: 'Montserrat';
  width:100%;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%,-50%);
}

/* div footer*/

#footer-logo {
		position: absolute;
		width:33vw;
		height:75px;
		top: 100vh;
		left:33vw;
    transform: translate(0, -80px);
    }

#footer-logo img {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
    }

#footer-teacher {
  		position: absolute;
  		width:33vw;
  		height:75px;
  		top: 100vh;
  		left:0;
      transform: translate(0, -75px);
      }

.teacher-list {
        text-align: left;
        }

.teacher-item {
        list-style: none;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: lighter;
        color: white;
        letter-spacing: 1px;
        }

#footer-school {
      	position: absolute;
    		width:33vw;
    		height:75px;
    		top: 100vh;
    		left:66vw;
        transform: translate(-30px, -75px);
      }

.school-list {
        text-align: right;
      }

.school-item {
        list-style: none;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: lighter;
        color: white;
        letter-spacing: 1px;
      }

@media only screen and (max-width:600px) {

  .nav-list {
      height: 65%;
    }

  #creditssection {
    top: 16vh;
    font-size: 36px;
  }

  #eli{
    height: 25vh;
    width: 44vw;
    left: 4vw;
    top: 20vh;
  }

  #cami {
    height: 25vh;
    width: 44vw;
    left: 52vw;
    top: 20vh;
  }

  #bea {
    height: 25vh;
    width: 44vw;
    left: 4vw;
    top: 48vh;
  }

  #ludo{
    height: 25vh;
    width: 44vw;
    left: 52vw;
    top: 48vh;
  }

  .creditsname {
    font-size: 14px;
  }

  .creditsdescription {
    font-size: 11px;
  }

  #footer-logo {
  		width:100vw;
  		height:40px;
  		left:0;
      transform: translate(0, -140px);
      }

  #footer-logo img {
    margin-left: 40px;
          }

  #footer-teacher {
        width:100vw;
        height:30px;
        left: 0;
        transform: translate(0, -105px);
        }

  .teacher-list {
        text-align: left;
        }

  .teacher-item {
          font-size: 9px;
          }

  #footer-school {
          position: absolute;
          height:30px;
          width:100vw;
          left: 0;
          transform: translate(0, -70px);
        }

  .school-list {
          text-align: left;
        }

  .school-item {
          font-size: 9px;
        }
}
