body {
  /* Desktop Home */
  position: relative;
  width: 1440px;
  height: 2067px;
  background: rgba(255, 78, 78, 0.5);
}

h1 {

  /* DIVE DEEP */
  position: absolute;
  width: 454px;
  height: 59px;
  left: 490px;
  top: 384px;

  font-family: Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 76px;
  text-align: center;

  color: #FFFFFF;
}

p {
  /* Welcome to */


position: absolute;
width: 431px;
height: 21px;
left: 504px;
top: 342px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}



p2 {
  /* Dive to discover it */
  
position: absolute;
width: 397px;
height: 11px;
left: 521px;
top: 533px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
